<div class="toDoWrapper">

  <!-- input form -->
  <form class="todo-form" (submit)="addItem()">
    <mat-form-field class="todo-width">
      <input matInput 
        type="text" 
        placeholder="new todo"
        name = "title" 
        [(ngModel)]="todoService.newTodoText">
    </mat-form-field> 
  </form>

  <!-- show todolist -->
  <table mat-table [dataSource]="todoService.todos" class="mat-elevation-z8 todo-width" >
    <ng-container matColumnDef="done">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let todo">
        <mat-checkbox 
          color="primary"
          (change)="onItemCheck(todo)"
          (click)="$event.stopPropagation()"
          [(ngModel)]="todo.done">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Todo </th>
      <td mat-cell *matCellDef="let todo"> {{todo.title}} </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let todo">
        <button (click)="onClickDelete(todo); $event.stopPropagation()" mat-icon-button>
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row 
      *matRowDef="let todo; columns: displayedColumns;" 
      (click)="onItemClick(todo)"
      [class.done]="todo.done"
      [class.selected]="todo == todoService.selectedItem">
    </tr>
  </table>

</div>