.toDoWrapper{
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    margin: 15px;
}

.todo-width {
    width: 100%;
}

.todo-form {
    width: 100%;
}

tr:hover td  {
    background-color:aliceblue;
}

.cdk-column-done {
    width: 0px !important;
}

.cdk-column-delete {
    text-align: right;
}

tr {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.selected {
    background-color: aliceblue;
}