.toDoWrapper{
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    margin: 15px;
}

.todo-width {
    width: 100%;
}

.todo-form {
    width: 100%;
}

tr.mat-row :hover {
    background: aliceblue;
}

.done {
    text-decoration: line-through;
}

.selected {
    font-weight: bold;
}